.listDatas {
  border: 1px solid white;

  img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .detail {
    margin: 6px 0px 6px 0px;
    font-size: 14px;
    font-weight: 200;
    color: #aeaeae;
    text-align: left;
  }

  .name {
    margin: 6px 0px 6px 0px;
    font-size: 16px;
    font-weight: 800;
    color: black;
    text-align: left;
  }

  .discountRate {
    color: red;
    font-weight: 800;
    margin-right: 2px;
  }

  .detailThird {
    margin: 6px 0px 0px 0px;
    font-size: 14px;
    text-align: left;
  }

  .originPrice1 {
    text-decoration: line-through;
    color: #9e9e9e;
    margin-right: 2px;
  }

  .originPrice {
    font-weight: 800;
  }

  .detailFourth {
    text-align: left;
  }
  .size {
    display: inline;
    height: 15px;

    padding: 1px 6px 1px 6px;
    border-radius: 60%;
    border: 1px solid #fcd734;
    background-color: #fcd734;
    font-size: 9px;
    line-height: 18px;
    font-weight: bolder;
    letter-spacing: -0.14px;
  }

  .freeshipping {
    display: inline;
    height: 15px;
    margin-left: 2px;
    padding: 0 8px;
    border-radius: 10px;
    border: 1px solid #ececec;
    background-color: #ececec;
    font-size: 9px;
    line-height: 18px;
    font-weight: 300px;
    letter-spacing: -0.14px;
  }
}
