.listDatas {
  border: 1px solid white;
}

img {
  width: 100%;
  height: auto;
}

.isFreeShipping {
  display: inline;
  height: 20px;
  margin-bottom: 10px;
  padding: 0 8px;
  border-radius: 10px;
  border: 1px solid #ececec;
  background-color: #ececec;
  font-size: 9px;
  line-height: 18px;
  font-weight: 300px;
  letter-spacing: -0.14px;
}
