.addressContainer {
  padding: 0 35px;
  h4 {
    height: 53px;
    padding: 13px 0 0 18px;
    font-size: 16px;
    font-weight: 500;
  }

  .addressBox {
    display: block;
    min-width: 1024px;
    padding: 25px 28px 30px;
    background-color: #fff;
  }
}
