@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.main {
  font-family: "Noto Sans KR";
  .container {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cookieSubscribeList {
    padding: 0 10% 0 10%;
    border: 1px solid black;

    .subscribeTxt {
      padding: 20px 0 20px 0;
      font-size: 30px;

      .subscribeBold {
        font-weight: bold;
      }
    }
  }
  .cookieList {
    padding: 0 10% 0 10%;
    background-color: #f7f7f7;

    .cookieListTxt {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 20px 0;

      .cookieTxt {
        display: inline-flex;
        font-size: 30px;

        .cookieBold {
          font-weight: bold;
        }
      }

      .moreBtn {
        margin-right: 20px;
        border: none;
        background-color: transparent;
        outline: none;
      }
    }
  }
}
