@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.main {
  font-family: "Noto Sans KR";
  .container {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cookieListTxt {
    background-color: #f7f7f7;

    .cookieTxt {
      display: inline-block;
    }

    .moreBtn {
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
}
