@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.subNavContainer {
  font-family: "Noto Sans KR";

  .subNav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 380px;
    margin: 0 auto 0;
    background-color: #ffd232;

    .subNavContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 60px;

      .title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 45px;
        font-weight: 500;
        letter-spacing: -0.45px;
        color: #222;
      }

      .subTitle {
        font-size: 18px;
        line-height: 27px;
        font-weight: 100;
        letter-spacing: -0.27px;
        color: #222;
      }
    }
  }
}
