.addressContainer {
  padding: 0 35px;
  h4 {
    height: 53px;
    padding: 13px 0 0 18px;
    font-size: 16px;
    font-weight: 500;
  }

  .addressBox {
    display: block;
    min-width: 1024px;
    padding: 25px 28px 30px;
    background-color: #fff;

    .addressBtns {
      display: flex;
      align-items: center;

      .toggleBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 42px;
        margin-left: 12px;
        border: 1px solid #434343;
        background-color: #fff;
        color: #3a3a3a;
        font-size: 16px;
        cursor: pointer;

        &.selected {
          background-color: #3a3a3a;
          color: #fff;
        }
      }
    }
  }
}
