@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans KR";
}

body {
  font-family: "Noto Sans KR";
}
