.cards {
  margin: 0 10px;

  .subscribeImg {
    width: 100%;
    height: auto;
    border: 1px solid rgba(174, 174, 174, 0.3);

    &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  .subscribeIntro {
    margin: 6px 0px 6px 0px;
    font-size: 14px;
    font-weight: 200;
    color: #aeaeae;
    text-align: left;
  }

  .subscribeName {
    margin: 6px 0px 6px 0px;
    font-size: 16px;
    font-weight: 800;
    color: black;
    text-align: left;
  }
  .subscribePrice {
    font-weight: 800;
  }
  .freeShipping {
    display: inline;
    height: 20px;
    margin-bottom: 10px;
    padding: 0 8px;
    border-radius: 10px;
    border: 1px solid #ececec;
    background-color: #ececec;
    font-size: 9px;
    line-height: 18px;
    font-weight: 300px;
    letter-spacing: -0.14px;
  }
}
