.inputDeliveryDate {
  display: block;
  margin-bottom: 40px;
  .react-datepicker-wrapper {
    display: block;
    width: 100%;
    height: 46px;

    #datePicker {
      display: inline-block;
      width: 100%;
      height: 46px;
      padding: 0 50px 0 20px;
      border: 1px solid #ffcd32;
      border-radius: 5px;
      outline: none;
      font-size: 14px;
      line-height: 46px;
      font-weight: 300;
      letter-spacing: -0.21px;
    }
  }

  .react-datepicker-popper {
    transform: translate3d(-110px, 75px, 0px);

    .react-datepicker__header {
      background-color: #ffcd32;

      .react-datepicker__year-read-view--down-arrow,
      .react-datepicker__month-read-view--down-arrow,
      .react-datepicker__month-year-read-view--down-arrow {
        border-top-color: #fff;
      }
    }

    .react-datepicker-popper[data-placement^="bottom"]
      .react-datepicker__triangle,
    .react-datepicker-popper[data-placement^="bottom"]
      .react-datepicker__triangle::before {
      border-bottom-color: #ffcd32;
    }

    .react-datepicker__navigation--next {
      border-left-color: #fff;
    }

    .react-datepicker__navigation--previous {
      border-right-color: #fff;
    }

    .react-datepicker__day-names {
      background-color: #fff;
    }

    .react-datepicker__day--keyboard-selected {
      background-color: #ffcd32;
      color: #222;
    }
  }
}
