.detailButtons {
  display: flex;

  .detailBtn {
    display: block;
    width: 240px;
    height: 48px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffcd32;
    color: #0d0d0d;
    font-weight: 300;
    letter-spacing: -0.21px;
    cursor: pointer;
  }

  .cart {
    background-color: #ececec;
  }
}
