@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3% 0 3% 0;
  background-color: lightgray;
  color: black;
  font-family: "Noto Sans KR";

  .footerBox {
    width: 80%;
    border: 1px solid white;

    .upperBox {
      border: 1px solid pink;
      .iconBox {
        border: 1px solid black;
      }

      .upperBtn {
        outline: transparent;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 30px;
      }
    }

    .lowerBox {
      border: 1px solid purple;

      .bottomBtn {
        outline: transparent;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}
