@mixin title {
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: -0.39px;
  color: #222;
}

@mixin sub-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  letter-spacing: -0.24px;
  color: #787878;
}

@mixin contents {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.24px;
  color: #222;
}

@mixin sub-contents {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  letter-spacing: -0.21px;
  color: #222;
}

@mixin strong {
  font-weight: 700;
}

.detail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .category-nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 1240px;
    height: 80px;
    padding: 40px 60px 0;
    margin: 0 auto;

    li {
      display: inline-block;
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
      list-style-position: inside;
      font-size: 13px;
      line-height: 19px;
      font-weight: 100;
      letter-spacing: -0.2px;
      color: #9b9b9b;

      &:not(:last-child)::after {
        padding: 0 5px;
        content: ">";
      }
    }
  }

  .detail-contents {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    padding: 0 60px;

    .product-thumnail {
      display: flex;
      flex-direction: column;
      width: 550px;
      height: 664px;

      .thumnail {
        width: 550px;
        height: 550px;
        margin-bottom: 20px;
        resize: both;
      }

      .detail-slider {
        display: flex;
        justify-content: space-between;
        img {
          width: 94px;
          height: 94px;
        }
      }
    }

    .product-detail-right {
      display: flex;
      flex-direction: column;
      width: 560px;
      height: auto;
      padding-left: 70px;

      .detail-title {
        margin-bottom: 10px;

        .sub-title {
          @include sub-title();
        }

        .title {
          @include title();
          margin-bottom: 10px;
        }

        .price::after {
          content: "원";
        }

        .strong {
          @include strong();
        }

        .detail-discount {
          @include sub-title();

          .discountPer {
            font-weight: 700;
            color: #ff4e50;

            &::after {
              content: "%";
              padding-right: 6px;
            }
          }

          .oldPrice {
            margin-right: 10px;
            text-decoration: line-through;

            &::after {
              content: "원";
            }
          }

          .title {
            @include title();
            display: inline-block;
            font-size: 26px;
            line-height: 38px;
            font-weight: 500;
            letter-spacing: -0.39px;
            color: #222;
          }

          .price::after {
            content: "원";
          }
        }
      }

      .detail-info {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 17px;
        border-top: 1px solid #ececec;
        @include contents();

        .contents-highlight {
          display: inline-block;
          margin-left: 4px;
          font-weight: 600;
          color: #46cfa7;
        }

        .detail-option {
          margin-top: 17px;
          padding-top: 17px;
          border-top: 1px solid #ececec;

          .subscribe-option {
            width: 100%;

            table {
              width: 100%;
              margin-bottom: 30px;
              table-layout: fixed;

              .option-th-1 {
                width: 150px;
              }

              th {
                text-align: left;
              }

              .selected {
                width: 100%;
                height: 46px;
                padding: 0 50px 0 20px;
                border-radius: 5px;
                border: 1px solid #ffcd32;
                font-size: 14px;
                line-height: 46px;
                font-weight: 300;
                letter-spacing: -0.21px;
              }

              .opener {
                width: 100%;
                height: 42px;
                margin: 0;
                border: none;
                outline: 0;
                background-color: transparent;
                cursor: pointer;
                z-index: 1;
              }

              .options {
                .option {
                }
              }

              .detail-amount {
                .btn-amount {
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  border: none;
                  background-color: #ececec;
                  cursor: pointer;
                }

                span {
                  margin: 0 12px;
                }
              }

              .letter-checkboxes {
                display: flex;

                .letter-checkbox {
                  display: block;

                  &:not(:last-child) {
                    margin-right: 20px;
                  }

                  input {
                    margin-right: 4px;

                    .checked {
                      color: #ffcd32;
                    }
                  }

                  .contents {
                    @include contents();
                  }
                }
              }
            }

            .detail-price {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              width: 490px;
              height: 82px;
              margin: 10px 0 20px;
              padding: 20px;
              border: none;
              border-radius: 5px;
              background-color: #f7f7f7;
              color: #0d0d0d;

              .contents {
                @include contents();
              }

              .price::after {
                content: "원";
              }

              .sub-contents {
                @include sub-contents();
              }
            }

            .total-price {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              width: 490px;
              height: 82px;
              margin: 20px 0;
              padding: 20px;
              border: none;
              color: #0d0d0d;

              .shipping-free {
                display: block;
                height: 20px;
                margin-bottom: 10px;
                padding: 0 8px;
                border-radius: 10px;
                border: 1px solid #ececec;
                background-color: #ececec;
                font-size: 9px;
                line-height: 18px;
                font-weight: 300px;
                letter-spacing: -0.14px;
              }

              div {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .sub-contents {
                  display: inline-block;
                  @include sub-contents();
                  line-height: 30px;
                }

                .title {
                  display: inline-block;
                  @include title();
                  margin-left: 10px;
                }

                .price::after {
                  content: "원";
                }
              }
            }

            .detail-buttons {
              display: flex;

              .detail-btn {
                display: block;
                width: 240px;
                height: 48px;
                margin: 0 5px;
                border: none;
                border-radius: 5px;
                background-color: #ffcd32;
                color: #0d0d0d;
                font-weight: 300;
                letter-spacing: -0.21px;
                cursor: pointer;
              }

              .cart {
                background-color: #ececec;
              }
            }
          }
        }
      }
    }
  }
}
