@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

%btnSetting {
  width: 350px;
  height: 48px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 100px;
  background-color: #ececec;
}

%inputSetting {
  width: 350px;
  height: 44px;
  padding: 0 20px;
  margin: 0 20px 20px 0;
  border: #d3d3d3 1px solid;
  border-radius: 5px;
  font-weight: 300;
  color: #222;
  outline: none;
  &:focus {
    border: 1px solid #ffcd32;
  }
}

%warningTextSetting {
  padding-left: 130px;
  padding-bottom: 5px;
  font-size: 13px;
  color: #ff4e50;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Noto Sans KR";

  .headBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 40px;
    margin-top: 70px;
    border-bottom: #ececec 1px solid;

    .headText {
      font-size: 30px;
    }
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 50px;

    .inputLabelText {
      display: inline-block;
      width: 120px;
      font-size: 15px;
    }

    .emailInput,
    .pwdInput,
    .pwdCheckInput,
    .nameInput,
    .phoneNumInput {
      @extend %inputSetting;
    }
    .warningText {
      @extend %warningTextSetting;
    }
  }
  .signUpBtnBox {
    margin-left: 33px;
    margin-bottom: 30px;
    .signUpBtn {
      @extend %btnSetting;
    }
  }
}
