.letterContainer {
  padding: 0 35px;
  h4 {
    height: 53px;
    padding: 13px 0 0 18px;
    font-size: 16px;
    font-weight: 500;
  }

  .letterBox {
    display: block;
    min-width: 1024px;
    padding: 25px 28px 30px;
    background-color: #e8e8e8;

    .letterHeader {
      width: 100%;
      .letterTag {
        display: inline-block;
        min-width: 400px;
        height: 30px;
        border: 1px solid #626262;
        padding: 0 70px 0 10px;
      }

      .noTextBox {
        display: flex;
        align-items: center;
        margin: 20px 0 0;

        .noText {
          font-size: 12px;
        }

        p {
          margin-left: 10px;
        }
      }
    }

    .letterBody {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1066px;
      width: 100%;
      height: 413px;
      margin: 0 auto;

      .inputLetter {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 390px;
        margin: 20px 0 0;
        border: 1px solid #626262;
        background-color: #fff;

        .text {
          position: relative;
          display: block;
          width: 400px;
          height: 250px;
          padding: 20px;
          border: none;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.5px;
          resize: none;
        }

        .textInfo {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 20px;
          text-align: right;

          .textLimit {
            display: block;
            width: 270px;
            height: 24px;
            margin: 6px 14px 20px 0;
            font-weight: 500;
            text-align: right;
          }

          p {
            display: block;
            margin: 0 10px 4px 0;
            font-size: 14px;
          }
        }
      }

      .previewLetter {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 47%;
        margin: 20px 0 0 6%;
        padding: 20px 40px 5px;
        background-color: #fff;

        .textview {
          display: block;
          width: 400px;
          height: 300px;
          margin: 0 auto;
          border: none;
          resize: none;
          font-size: 18px;
          line-height: 32px;
          font-weight: 400;
          letter-spacing: 0.5px;
        }

        .textviewInfo {
          display: block;

          p {
            display: block;
            margin: 33px 0 15px;
            font-size: 14px;
            text-align: right;
          }
        }
      }
    }
  }
}
